* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  min-height: 100vh;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: #e0f2fe;
}
.header__right {
  display: flex;
  align-items: center;
}
.runBtn {
  width: 100px;
  margin-right: 10px;
}
.header {
  border: 1px solid #ddd;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.5;
  height: 100%;
}
.code__container {
  display: flex;
  height: 95vh;
  width: 100%;
  align-items: flex-start;
}
.minimap {
  display: none;
}
.editor {
  width: 100%;
}
.code,
.output {
  width: 50vw;
}
